.side-bar {
  width:300px;
  color: $white;
  box-sizing: border-box;
  float: left;
  .header {
    background-color: $side_blue_dark;
    height: 100px;
    padding: 0 20px;
    display: flex;
    .header__box {
      width: 100%; 
      display: flex;
      justify-content: space-between;
      align-items: center;
      &__name {
        display: block;
        font-weight: bold;
      }
      &__lists {
        display: flex;
        .icon {
          color: $white;
          margin-left: 4.8px;        
        }
      }
    }
  }
 .groups {
   background-color: $side_blue_light;
   height: calc(100vh - 100px);
   padding: 0px 20px;
   .group {
     box-sizing: border-box;
     padding: 20px 0 40px;
     &__name {
       color: $white;
       font-size: 15px;
     }
     &__message {
       font-size: 12px;
       color: $white;
       margin-top: 5px;
     }
   }
 }
}  